html {
    background-color: rgb(206, 221, 237);
}

div {
    text-align: center;
}

canvas {
    background : "images/bg.jpg" 10% 340px;
    border: black solid 2px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(168, 221, 114);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

p {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}